.containerHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: linear-gradient(to right, var(--header-gradient-start), var(--header-gradient-end));
  border-radius: 0; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.textHeader {
  color: var(--secondary-color); 
  font-size: 1.8rem; 
  font-weight: bold;
  letter-spacing: 0.5px; 
}

.containerLinks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 35px;
}

.links{
    text-decoration: none;
}

.containerLinks h3 {
  font-size: 1.1rem; 
  color: var(--secondary-color);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease; 
}

.containerLinks h3:hover {
  color: var(--text-color);
  transform: translateY(-2px);
}
.menuHamburger {
  display: none;
}

@media (max-width: 540px) {
  .containerLinks {
    display: none;
  }
.menuHamburger {
    display: block;
    cursor: pointer;
    font-size: 2.2rem; 
    color: var(--secondary-color);
  }
}
